# .env.example
# Salin file ini menjadi .env dan sesuaikan nilainya.

# Flask Security
SECRET_KEY=ganti-dengan-rahasia-abang-yang-panjang-dan-unik
DEBUG_MODE=True

# Database Configuration
# Default menggunakan SQLite: sqlite:///warnet.db
DATABASE_URL=sqlite:///warnet.db

# Client C# / Rust Agent Authentication Key
# Harus sama dengan yang di-input di aplikasi Client & Agent (Default: TM2026QWERTY-api-key)
CLIENT_API_KEY=TM2026QWERTY-api-key

# System Thresholds (Optional)
# Menit PC tidak kirim polling sebelum dianggap mati lampu
BLACKOUT_THRESHOLD_MINUTES=60
