<!-- ===== TAB: MONITOR ===== -->
<div id="tab-monitor" class="tab-content hidden">
    <div class="bg-[#0c0c0c] border border-[#1c1c1c] rounded p-6">
        <div class="flex items-center justify-between mb-4">
            <h3 class="text-xs lg:max-xl:text-base xl:text-[22px] font-bold text-neutral-200 uppercase tracking-wider">Monitor Hardware</h3>
        </div>
        <div id="monitor-table" class="overflow-x-auto w-full">
            <div class="space-y-2.5">
                {% for _ in range(8) %}
                <div class="p-3 bg-[#111] border border-[#1c1c1c] rounded-lg animate-pulse flex items-center justify-between gap-4">
                    <div class="flex items-center gap-3">
                        <div class="h-4 bg-[#262626] rounded w-14"></div>
                        <div class="h-3 bg-[#202020] rounded w-28"></div>
                    </div>
                    <div class="flex items-center gap-4">
                        <div class="h-3 bg-[#202020] rounded w-16"></div>
                        <div class="h-3 bg-[#262626] rounded w-16"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
