{% extends 'kasir/base.html' %}

{% block content %}
    <!-- ===== SIDEBAR ===== -->
    {% include 'kasir/components/sidebar.html' %}

    <!-- Overlay -->
    <div id="sidebar-overlay" class="fixed inset-0 bg-black/60 z-30 hidden lg:hidden"
        onclick="Dashboard.toggleSidebar()"></div>

    <!-- ===== MAIN ===== -->
    <main class="flex-1 flex flex-col min-h-0 bg-[#050505] overflow-x-hidden">
        <!-- ===== HEADER/NAVBAR ===== -->
        {% include 'kasir/components/navbar.html' %}

        <div id="main-scroll" class="flex-1 p-4 md:p-6 space-y-6 overflow-y-auto overflow-x-hidden scrollbar-mono">
            <!-- Tabs Content -->
            {% include 'kasir/tabs/dashboard.html' %}
            {% include 'kasir/tabs/pc.html' %}
            {% include 'kasir/tabs/paket.html' %}
            {% include 'kasir/tabs/member.html' %}
            {% include 'kasir/tabs/grup.html' %}
            {% include 'kasir/tabs/laporan.html' %}
            {% include 'kasir/tabs/laporan_menu.html' %}
            {% include 'kasir/tabs/log.html' %}
            {% include 'kasir/tabs/monitor.html' %}
            {% include 'kasir/tabs/screenshot.html' %}
            {% include 'kasir/tabs/blackout.html' %}
            {% include 'kasir/tabs/user.html' %}
            {% include 'kasir/tabs/mikrotik.html' %}
            {% include 'kasir/tabs/settings.html' %}
            {% include 'kasir/settings/plugins.html' %}
            {% include 'kasir/tabs/struk.html' %}
            {% include 'kasir/tabs/menu.html' %}
            {% include 'kasir/tabs/tournament.html' %}
            {% include 'kasir/tabs/analytics.html' %}
            
            <div id="tab-plugin-spa" class="tab-content hidden w-full" style="height: calc(100vh - 140px);">
                <iframe id="plugin-spa-iframe" class="w-full h-full rounded-xl bg-[#0d0d0d]" src="about:blank"></iframe>
            </div>
            
            <!-- ===== MODALS ===== -->
            {% include 'kasir/components/modals.html' %}

            <!-- ===== FOOTER ===== -->
            <footer class="flex justify-end pt-6 pb-2 border-t border-[#171717]/80 text-[10px] text-neutral-600 tracking-wider font-mono select-none">
                TMBilling - {{ version }} &copy; 2026
            </footer>
        </div>
    </main>
{% endblock %}